@font-face {
  font-family: 'Poppins-SemiBold';
  src:url('../fonts/Poppins-SemiBold.ttf?-kwf309');
  src:url('../fonts/Poppins-SemiBold.ttf?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Poppins-SemiBold.ttf?-kwf309') format('woff'),
    url('../fonts/Poppins-SemiBold.ttf?-kwf309') format('truetype'),
    url('../fonts/Poppins-SemiBold.ttf?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins-Bold';
  src:url('../fonts/Poppins-Bold.ttf?-kwf309');
  src:url('../fonts/Poppins-Bold.ttf?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Poppins-Bold.ttf?-kwf309') format('woff'),
    url('../fonts/Poppins-Bold.ttf?-kwf309') format('truetype'),
    url('../fonts/Poppins-Bold.ttf?-kwf309#AA-Arial') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswaldbold';
  src:url('../fonts/Oswald-Bold.eot?-kwf309');
  src:url('../fonts/Oswald-Bold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Oswald-Bold.woff?-kwf309') format('woff'),
    url('../fonts/Oswald-Bold.otf?-kwf309') format('truetype'),
    url('../fonts/Oswald-Bold.svg?-kwf309#AA-Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Roboto-Regular';
  src:url('../fonts/Roboto-Regular.eot?-kwf309');
  src:url('../fonts/Roboto-Regular.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff?-kwf309') format('woff'),
    url('../fonts/Roboto-Regular.ttf?-kwf309') format('truetype'),
    url('../fonts/Roboto-Regular.svg?-kwf309#AA-Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Roboto-Bold';
  src:url('../fonts/Roboto-Bold.eot?-kwf309');
  src:url('../fonts/Roboto-Bold.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff?-kwf309') format('woff'),
    url('../fonts/Roboto-Bold.ttf?-kwf309') format('truetype'),
    url('../fonts/Roboto-Bold.svg?-kwf309#AA-Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'Raleway-Medium';
  src:url('../fonts/Raleway-Medium.eot?-kwf309');
  src:url('../fonts/Raleway-Medium.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Raleway-Medium.woff?-kwf309') format('woff'),
    url('../fonts/Raleway-Medium.otf?-kwf309') format('truetype'),
    url('../fonts/Raleway-Medium.svg?-kwf309#AARaleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Medium';
  src:url('../fonts/Roboto-Medium.eot?-kwf309');
  src:url('../fonts/Roboto-Medium.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff?-kwf309') format('woff'),
    url('../fonts/Roboto-Medium.ttf?-kwf309') format('truetype'),
    url('../fonts/Roboto-Medium.svg?-kwf309#AA-Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}  


@font-face {
  font-family: 'Roboto-Light';
  src:url('../fonts/Roboto-Light.eot?-kwf309');
  src:url('../fonts/Roboto-Light.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff?-kwf309') format('woff'),
    url('../fonts/Roboto-Light.ttf?-kwf309') format('truetype'),
    url('../fonts/Roboto-Light.svg?-kwf309#AA-Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}  



* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;

}

body {
  color: #3E3E3F;
  font-size: 16px;
  background: #fff;
  margin: 0;
  letter-spacing: 1px;
  font-family: 'Roboto-Regular';
}

a {color: #fff;}
a:hover {color: #fff;}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear {clear:both;}


button {
  border:none;
  background: none;
  box-shadow: unset;
  
}

button:focus {
  outline: none;
  box-shadow: unset;
}

img {
  max-width: 100%;
  height: auto;
}


header {
  position: relative;
  padding: 8px 0 0 0;
  background: url(../images/head-bg.png) 0 0 no-repeat;
  background-size: cover;
  height: 100vh;
  
}

header:before {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 0%, #000000 100%);
  opacity: 0.23;
}

.container {
  max-width: 1600px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.head__block_wrap {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 8%);
  border-radius: 41px 41px 41px 41px;
  padding: 23px 45px 21px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo__top {
  width: 180px;
}

.menu__top {
  display: flex;
}

.menu__top li {
  margin: 0 15px;
}

.menu__top li a {
  position: relative;
  color: #010001;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  text-decoration: none;
}

.menu__top li a:hover::after {
  width: 24px;
}

.menu__top li a::after {
  content: '';
  width: 0px;
  height: 6px;
  background-color: #0D4459;
  border-radius: 50px;
  display: block;
  position: absolute;
  bottom: -80%;
  left: 30%;
  transition: 300ms;
}

.slogan__top {
  color:#fff;
  position: absolute;
  font-family: 'Oswaldbold';
  bottom: 50px;
  text-transform: uppercase;
  z-index: 1;
  padding: 0 0 0 150px;
  font-size: 62px;
  text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
}

.slogan__top:before {
  position: absolute;
  top: 18px;
  content: '';
  left: 60px;
  height: 2px;
  width: 62px;
  background-color: #fff;
}

.slogan__top span {
  color: #F07A22;
}

.slogan__top p {
  margin: 0;
  font-size: 24px;
}

.who {
  padding: 50px 0 30px 0;
}

.who__wrap {
  display: flex;
}

.who__block {
  width: 50%;
}

.who__block2 {
  width: 50%;
  display: flex;
}

.who_img {
  padding: 0 15px 0 15px;
}

h2 {
  font-family: 'Oswaldbold';
  letter-spacing: 1.02px;
  font-size: 17px;
  color:#0D4459;
  font-weight: normal;
}

h3 {
  font-size: 53px;
  font-family: 'Oswaldbold';
  font-weight: normal;
  line-height: 1.2em;
  color: #0D4459;
  text-transform: uppercase;
  margin: 30px 0px 30px 0px;
}

.who__title {
  
  margin: 0 0 40px 0;
}

.aux-modern-heading-divider {
  height: 2px;
  width: 130px;
  background: #fea75e;
  margin: 0 0px 35px 0px;
}

.who__body {
  color: #3E3E3F;
  /* letter-spacing: 2px; */
  margin: 0 0 55px 0;
}

.who__link {
  display: inline-block;
  padding: 16px 38px 14px 38px;
  color: #3D3D3D;
  font-size: 0.75em;
  font-family: 'Roboto-Medium';
  border:2px solid #3D3D3D;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.who__link:hover {
  color: #3D3D3D;
  background: #3D3D3D;
  transition: 0.3s;
  color:#fff;
}

.what__wrap {

display: flex;

align-items: center;

margin: 0 -15px 0 0px;
}

.what__block {
  width: 27%;
}

.what__block2 {
  width: 73%;
  display: flex;
  /* margin: 0 0px 0 0px; */
}

.what_media_block {
  padding: 0 30px 0 30px;
  width: 33.33333333%;
}

.what_media_block_in {
  padding: 0px 40px 48px 45px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e6e6e6;
  border-radius: 25px 25px 25px 25px;
}

.what_media_title {
  color: #aaa;
  font-weight: 400;
  font-size: 0.9375em;
  margin: 14px 0 10px 0;
  line-height: 120%;
}

.what_media_body {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.what__title {
  text-transform: uppercase;
  line-height: 62px;
  letter-spacing: -1.62px;
  font-family: 'Oswaldbold';
  color:#0D4459;
  font-size: 60px;
  margin: 0px 0px 44px 0px;
}

.what {
  
padding: 0 0 60px 0;
}

.what .container {
  position: relative;
}

.what svg {
  position: absolute;
  top: -11px;
  left: -31px;
}

.what__body {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 45px 0;
  line-height: 120%;
}

.contact__us {
  background-color: #F07A22;
  border-radius: 100em;
  font-family: 'Oswaldbold';
  padding: 19px 61px 21px 60px;
  text-decoration: none;
  text-transform: uppercase;
  border:1px solid #F07A22;
  display: inline-block;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15), 9px 10px 27px rgba(0, 0, 0, 0.1);
}

.contact__us:hover {
  background: #fff;
  border:1px solid #E74C3C;
  transition: 0.3s;
  color:#252525;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.mail {
  position: relative;
  padding: 25px 0px 20px 0px;
  height: auto;
  background: url(../images/mail-bg.jpg) center 0 no-repeat;
  background-size: cover;
}

.mail::before {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: #111111;
  opacity: 0.38;
}

.mail .container {
  position: relative;
  z-index: 1;
}

.mail__wrap {
  display: flex;
  align-items: center;
}

.mail__block {
  width: 50%;
  padding: 10px;
}


.mail__block2 {
  width: 50%;
  color:#fff;
  padding: 86px 67px 92px 72px;
  border-style: solid;
  border-width: 15px 15px 15px 15px;
  border-color: #F07A22;
  border-radius: 0px 0px 0px 0px;
  line-height: 24px;
}

.mail__tilte {
  font-size: 17px;
  line-height: 1.2em;
  letter-spacing: 1.02px;
  color: rgba(255,255,255,0.6);
  font-family: 'Poppins-Bold';
  margin: 0 0 20px 0;
}

.mail__item {
  font-size: 53px;
  font-family: 'Oswaldbold';
  line-height: 1.2em;
  color: #ffffff;
  margin: 10px 0px 23px 0px;
  text-transform: uppercase;
}

.mail__body {
  color:#fff;
  margin: 0 0 70px 0;
}

footer {
  padding: 100px 0 135px 0;
}

.ft__wrap {
  display: flex;
  margin: 0 -10px;
}

.ft__block {
  width: 25%;
  padding: 0 10px;
}

.logo__bottom img {
  width: 220px;
}

.ft__title {
  position: relative;
  color:#0D4459;
  padding: 0px 0px 23px 0px;
  margin-bottom: 30px;
  font-family: 'Roboto-Medium';
  font-size: 23px;
}

.ft__title:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(180deg, #9BE15D 0%, #00D9A6 100%);
  border-radius: 20px;
  bottom: -5px;
  height: 5px;
  left: 15px;
  width: 48px;
}

.ft__title:before {
  content: "";
  position: absolute;
  background-image: linear-gradient(180deg, #9BE15D 0%, #00D9A6 100%);
  border-radius: 20px;
  bottom: -5px;
  height: 5px;
  left: 0;
  width: 9px;
  opacity: 0.9;
}

.ft__adress {
  font-family: 'Roboto-Light';
  font-size: 15px;
}

.menu__bottom {

}


.menu__bottom li {
  display: block;
  padding: 0 0.9375em 0.9375em 0.9375em;
}

.menu__bottom li a {
  color:#000;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__bottom li a:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.mail__input_wrap {
  display: flex;
  margin: 0 -10px;
}

.name__form {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.2em;
  padding: 17px 20px 16px 20px;
  outline: none;
  transition: all ease-out 0.3s;
  background-color: rgba(255, 255, 255, 0.85);
  display: block;
  width: 100%;
  margin: 0 10px;
  font-family: 'Roboto-Medium';
}

.name__form:focus {
  background: #fff;
  border: 2px solid #F07A22;
  transition: all ease-out 0.3s;
}

.textarea {
  font-family: 'Roboto-Medium';
  text-transform: none;
  height: 134px;
  min-height: 134px;
  width: 100%;
  padding: 20px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 26px 0 0 0;
  font-size: 16px;
  transition: all ease-out 0.3s;
}

.textarea:focus {
  border: 2px solid #F07A22;
  background: #fff;
  outline: none;
  transition: all ease-out 0.3s;
}


.btn__mail {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Oswaldbold';
    line-height: 1.2em;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    color:#fff;
    border-color: #fff;
    cursor: pointer;
    padding: 16px 50px 16px 50px;
    margin: 50px 0px 0px 0px;
    transition: all ease-out 0.3s;
    float: right;
}

.btn__mail:hover {
  background: #F07A22;
  border-color: #F07A22;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.because {
  padding: 0 0 40px 0;
}

.because__title {
  font-size: 17px;
  line-height: 1.2em;
  letter-spacing: 1.02px;
  font-family: 'Roboto-Medium';
  color: #0D4459;
  margin: 0px 0px 30px 0px;
}

.because__wrap {
  display: flex;
  align-items: center;
}

.because__block {
  width: 40%;
  padding: 0 100px 0 0;
}

.because__block2 {
  width: 60%;
}


.item__wrap {
  display: flex;
  align-items: center;
}

.item__block {
  width: 60%;
  
}

.item__block2 {
  width: 40%;
  padding: 60px 0 0 140px;
  background: #fff;
  margin: 0 -80px 0 -60px;
}