




@media screen and (max-width: 1366px) {

}


/* стили для md-устройств */
@media screen and (max-width: 1280px) {
    .who {
        padding: 50px 0 60px 0;
    }

    .what__wrap {
        display: block;
        align-items: center;
        margin: 0 0px 0 0px;
    }.what__block {
        width: 100%;
        margin: 0 0 40px 0;
    }

    .what__block2 {
        width: 100%;
        display: flex;
        margin: 0 0px 0 0px;
    }

    .what_media_block {
        padding: 0 15px 0 15px;
        width: 33.33333333%;
    }    


}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {

    .mail__wrap {
        display: block;
        align-items: center;
    }

    .mail__block {
        width: 100%;
        padding: 10px 0 10px 0;
    }

    .mail__block2 {
        width: 100%;
        color: #fff;
        padding: 86px 67px 92px 72px;
        border-style: solid;
        border-width: 15px 15px 15px 15px;
        border-color: #f8a25b;
        border-radius: 0px 0px 0px 0px;
        line-height: 24px;
        margin: 40px 0 0 0;
    }

    .item__block2 {
        width: 40%;
        padding: 60px 0 0 50px;
        background: #fff;
        margin: 0 -80px 0 0px;
    }


    .because__block {
        width: 50%;
        padding: 0 50px 0 0;
    }

    .because__block2 {
        width: 50%;
    }

    .item__block {
        width: 50%;
    }

    .item__block2 {
        width: 50%;
        padding: 0px 0 0 50px;
        background: #fff;
        margin: 0 0px 0 0px;
    }

    .item__block2 .who__body {
        margin: 0 0 0 0;
    }
}

/* стили для sm-устройств */
@media screen and (max-width: 992px) {

  
}


/* Ipad*/ 
@media screen and (max-width: 900px) {
    header {
        position: relative;
        padding: 8px 0 0 0;
        background: url(../images/head-bg.png) 0 0 no-repeat;
        background-size: cover;
        height: 520px;
    }

    .slogan__top {
        color: #fff;
        position: absolute;
        font-family: 'Poppins-Bold';
        bottom: 50px;
        z-index: 1;
        padding: 0 0 0 150px;
        font-size: 44px;
        text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
    }
}


/* Ipad mini*/ 
@media screen and (max-width: 800px) {
    .what__block2 {
        width: 100%;
        display: block;
        margin: 0 0px 0 0px;
    }

    .what_media_block {
        padding: 0 0px 0 0px;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .what {
        padding: 0 0 40px 0;
    }

    .ft__block {
        width: 50%;
        padding: 0 10px;
        margin: 0 0 50px 0;
    }

    .ft__wrap {
        display: flex;
        margin: 0 -10px;
        flex-wrap: wrap;
    }

    footer {
        padding: 100px 0 35px 0;
    }

    h3 {
        font-size: 39px;
        font-family: 'Poppins-Bold';
        font-weight: normal;
        line-height: 1.2em;
        color: #444;
        margin: 30px 0px 30px 0px;
    }

    .who__block2 {
        width: 100%;
        display: flex;
        margin: 40px -15px;
    }

    .who__block {
        width: 100%;
    }

    .who__wrap {
        display: block;
    }

    .mail__block2 {
        width: 100%;
        color: #fff;
        padding: 46px 47px 52px 42px;
        border-style: solid;
        border-width: 15px 15px 15px 15px;
        border-color: #f8a25b;
        border-radius: 0px 0px 0px 0px;
        line-height: 24px;
        margin: 40px 0 0 0;
    }

    .head__block_wrap {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 8%);
        border-radius: 41px 41px 41px 41px;
        padding: 13px 25px 9px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .logo__top {
        width: 140px;
    }

    .menu__top li a {
        position: relative;
        color: #010001;
        font-family: 'Roboto-Medium';
        font-size: 15px;
        text-decoration: none;
    }

    .item__block2 {
        width: 50%;
        padding: 0px 0 0 30px;
        background: #fff;
        margin: 0 0px 0 0px;
    }

    .because__block {
        width: 50%;
        padding: 0 30px 0 0;
    }

    .who__body {
        color: #7a7a7a;
        letter-spacing: 2px;
        margin: 0 0 55px 0;
        font-size: 14px;
    }

    .because__block {
        width: 100%;
        padding: 0 0px 0 0;
    }

    .because__block2 {
        width: 100%;
    }

    .because__wrap {
        display: block;
        align-items: center;
    }

    .item__wrap {
        display: block;
        align-items: center;
    }

    .item__block2 {
        width: 100%;
        padding: 0px 0 0 10px;
        background: #fff;
        margin: 0 0px 0 0px;
    }

    .item__block {
        width: 50%;
        display: none;
    }
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
    .slogan__top {
        color: #fff;
        position: absolute;
        font-family: 'Poppins-Bold';
        bottom: 50px;
        z-index: 1;
        padding: 0px 0 0 80px;
        font-size: 24px;
        text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
    }

    .slogan__top:before {
        position: absolute;
        top: 19px;
        content: '';
        left: 0px;
        height: 1px;
        width: 62px;
        background-color: #fff;
    }

    header {
        position: relative;
        padding: 6px 0 0 0;
        background: url(../images/head-bg.png) 0 0 no-repeat;
        background-size: cover;
        height: 360px;
    }

    .menu__top li {
        margin: 0 7px;
    }

    .logo__top {
        width: 90px;
    }

    .who__block2 {
        width: 100%;
        display: flex;
        margin: 40px -5px;
    }

    .who_img {
        padding: 0 5px 0 5px;
    }

    .what__body {
        font-family: "Lato", Sans-serif;
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 29px 0;
    }

    .ft__block {
        width: 100%;
        padding: 0 10px;
        margin: 0 0 50px 0;
    }

    footer {
        padding: 50px 0 0px 0;
    }

    .name__form {
        font-size: 14px;
        text-transform: capitalize;
        line-height: 1.2em;
        padding: 17px 20px 16px 20px;
        outline: none;
        transition: all ease-out 0.3s;
        background-color: rgba(255, 255, 255, 0.85);
        display: block;
        width: 100%;
        margin: 0 0px 15px 0;
        font-family: 'Roboto-Medium';
    }

    .mail__input_wrap {
        display: block;
        margin: 0 0px;
    }

    .mail__block2 {
        width: 100%;
        color: #fff;
        font-size: 14px;
        padding: 36px 25px 42px 26px;
        border-style: solid;
        border-width: 10px 10px 10px 10px;
        border-color: #f8a25b;
        border-radius: 0px 0px 0px 0px;
        line-height: 24px;
        margin: 40px 0 0 0;
        -webkit-border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        -ms-border-radius: 0px 0px 0px 0px;
        -o-border-radius: 0px 0px 0px 0px;
    }

    .who {
        padding: 50px 0 30px 0;
    }

    .head__block_wrap {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 8%);
        border-radius: 41px 41px 41px 41px;
        padding: 13px 15px 9px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .menu__top li {
        margin: 0 5px;
    }

    .menu__top li a {
        position: relative;
        color: #010001;
        font-family: 'Roboto-Medium';
        font-size: 12px;
        text-decoration: none;
    }

    .who__body {
        color: #7a7a7a;
        letter-spacing: 2px;
        margin: 0 0 36px 0;
        font-size: 13px;
    }

    h3 {
        font-size: 29px;
        font-family: 'Poppins-Bold';
        font-weight: normal;
        line-height: 1.2em;
        color: #444;
        margin: 30px 0px 30px 0px;
    }

    .ft__title {
        position: relative;
        padding: 0px 0px 23px 0px;
        margin-bottom: 30px;
        font-family: 'Roboto-Medium';
        font-size: 20px;
    }

    .ft__adress {
        font-family: 'Roboto-Light';
        font-size: 13px;
    }

    .mail__tilte {
        font-size: 15px;
        line-height: 1.2em;
        letter-spacing: 1.02px;
        color: rgba(255,255,255,0.6);
        font-family: 'Poppins-Bold';
        margin: 0 0 20px 0;
    }

    .mail__item {
        font-size: 43px;
        font-family: 'Poppins-Bold';
        line-height: 1.2em;
        color: #ffffff;
        margin: 10px 0px 23px 0px;
    }

    .mail__body {
        color: #fff;
        margin: 0 0 50px 0;
        font-size: 14px;
    }

    .btn__mail {
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1.2em;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        color: #fff;
        border-color: #fff;
        cursor: pointer;
        padding: 14px 30px 14px 30px;
        margin: 50px 0px 0px 0px;
        transition: all ease-out 0.3s;
        float: right;
    }

    .what_media_body {
        font-family: "Lato", Sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
    }

    .what_media_title {
        color: #aaa;
        font-weight: 400;
        font-size: 13px;
        margin: 14px 0 10px 0;
    }

    .what_media_block_in {
        padding: 10px 19px 26px 25px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #e6e6e6;
        border-radius: 25px 25px 25px 25px;
    }

    .menu__top {
        display: flex;
        margin: -3px 0 0 0;
    }
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {

}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}